picture{
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    bottom: 0;
    z-index: 1;
    img{
        width: 100%;
    height: 100%;
    object-fit: cover;
    }
}
.slider-buttons{
    display:flex;
    column-gap: 24px;
    height: fit-content;
    grid-column: 10/span 4;
    justify-content: right;
    align-self:flex-end
}
.circle-button{
    width: 48px;
    height: 48px;
    background-color: #0047FF;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(6px 57px 23px rgba(26, 113, 255, 0.04)) drop-shadow(3px 32px 20px rgba(26, 113, 255, 0.13)) drop-shadow(2px 14px 14px rgba(26, 113, 255, 0.21)) ;
    
}
.circle-button:first-of-type{
    img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);}
}
.menu-full{
    background-color: transparent;
    color:white;
    backdrop-filter: blur(0px);
}
.none{
    display: none;
}
.flex-imp{
    display: flex !important;
}
.none-imp{
    display:none !important;
}

.slider-el-content{
    position: absolute;
    bottom: 40px;
    margin-left: 40px;
    color: white;
    h2{
        font-weight: 600;
font-size: 36px;
line-height: 100%;
/* identical to box height, or 36px */

letter-spacing: 0.03em;
    }
    h5{
        margin-bottom: 8px;
    }
}

.onepix{
    height: 3px;
    width: 100%;
    background-color: #0047FF;
}
.slid-img-wraper{
    width: 100%;
    display: grid;
    overflow: hidden;
    height: auto;
    margin-top: -172px;
}
.slike-spread{
    display:flex;
    width: 1210px;
    align-self: center;
    justify-self: center;
}
.wide-img{
    width: 16.2%;
    height: fit-content;
position: relative;
margin-top: 160px;
margin-right: 14%;
}
.wide-img-holder{
    padding-top: 75%;
}
.center-img{
    width: 36%;
    height: fit-content;
position: relative;
margin-right: 16.3%;
}
.center-img-holder{
    padding-top: 131.5%;
}
.skiny-img{
    width: 17.3%;
    height: fit-content;
position: relative;
margin-top: 50px;
}
.skiny-img-holder{
    padding-top: 135%;
}
.left-side-img{
    grid-column: span 6;
    height: fit-content;
align-self: center;
position: relative;
}
.right-side{
    grid-column: 8/span 4;
    height: fit-content;
align-self: center;
position: relative;
h2{
    margin-bottom: 56px;
    
}
h4{
    margin-bottom: 16px;
}
p{
    margin-bottom: 32px;
}
h5{
    color:#0047FF;
    margin-bottom: 16px;
}
div{
    h5{
        color:gray;
    }
    display: flex;
    column-gap: 40px;
    margin-bottom: 56px;
    div{
        flex-direction: column;
        margin-bottom: 0;
    }
}
}
.gradovi-holder{
    
    padding-top: 141%;

}
.left-side{
    grid-column: span 4;
    height: fit-content;
align-self: center;
min-height: 652px;
position: relative;
height: 100%;
p{
    margin-bottom: 32px;
}
h5{
    color:#0047FF;
    margin-bottom: 16px;
}
h2{
    margin-bottom: 32px;
}
}
.slider{
    position: absolute;
    scroll-behavior: smooth;
    right: 0;
    left: calc(50% - 82px);
    display: flex;
    column-gap: 32px;
    overflow: scroll;
    overflow-y: hidden;
    height: 652px;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.slider-element{
    max-width: 1000px;
    .HOLDER{
        width: 468px;
        height: 100%;
    }
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
}
.two{
    grid-column: 8/span 5;
    
    h2{
        margin-right: 50px;
        margin-bottom: 32px;
    }}
.section-3{
min-height: 100vh;
align-items: center;
}
.left-img-center{
    position: absolute;
        height: 100%;
            width: 41.9%;
            left: 0em;
        img{
            height: 100%;
            width:100%;
            object-fit: cover;
        }
}
.contact_left_img{
        width: 100%;
        align-self: center;
}
.contact_left_img_wrapper{
    width: 100%;
    padding-top: 133.5%;
    position: relative;
}
.contact-us-img_content{
    position: absolute;
    z-index: 5;
    right: -20px;
    top: -20px;
img{
    width: 76.13px;
    height: 70.32px;
}}
.contact-us-img_content-spread{
    position: absolute;
    z-index: 5;
    right: -100px;
    top: 80px;
img{
    width: 76.13px;
    height: 70.32px;
}}
.boatnaslov_content .blue_button {
    grid-column: span 6;
  }
.naslov-slider{
    margin-top: 180px;
    margin-bottom: 72px;
    
}
.naslov{
    grid-column: span 9;
    width: 100%;
    position: relative;
    align-self: center;
    height: fit-content;
    h5{
        
        color: #0047FF;
        margin-bottom: 16px;
    }
}
.slider-coments::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  .slider::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  .absolute{
    position: absolute;
    margin-bottom: -96px;
    justify-self: right;
  }
.slider-coments{
    z-index: 3;
    position: absolute;
    right: 0;
    left: calc(50% - 584px);
    display: flex;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    column-gap: 32px;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-y: hidden;
    height: 372px;
}
.slider-coment-content{
    min-width: 665px;
display: flex;
align-content: center;
justify-content: center;
background: #FAFAFA;
}
.slider-coment-element{
    width: 550px;
    
    max-height: 200px;
    align-self: center;
    p{
    text-align: center !important;}
    div{
        margin-top: 16px;
        display: flex;
        max-width: 500px;
        height: 48px;
        justify-content: center;
        h3{
            margin-left: 12px;
            font-weight: 600;
font-size: 24px;
line-height: 110%;
align-self:center;
        }
    }
}

.naslov-t{
    z-index: 2;
    grid-column: 2/span 10;
    text-align: center;
    margin-top: 180px;
    h5{
        color:#0047FF;
        margin-bottom: 16px;
    }
    h2{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 120px;
    }
}
.boatnaslov{
    position: relative;
    width: 100%;
    height: 100vh;

    img{
        height: 100%;
        width:100%;
        object-fit: cover;
    }
}

.boatnaslov_content{
    position: absolute;
    top: 41.9vh;
    height: 58vh;
    z-index: 2;
    width: 100%;
    h2{
        
    grid-column: span 6;
    color:white;
    margin-bottom: 32px;
    }
}
.white{
    border:1px solid white;
    background-color: transparent;
    box-shadow: none;
    grid-row-start: 2;
    
}
.boat-2{
    h5{
        color: #FFFFFF;
        grid-row-start: 1;
        min-width: 200px;
        margin-bottom: 16px;
    }
    top:55.6%;
    h2 {
        grid-row-start: 2;
    }
    .blue_button{
        grid-row-start: 3;
    }
}
.scroller{
    position: absolute;
    bottom: 48px;
    left: calc(50% - 16px);
}
.inq{
    position: absolute;
    right: 25px;
    bottom: 25px;
    padding: 8px;
    background: rgba(255, 255, 255, 0.2);
backdrop-filter: blur(50px);
display: flex;
img{
    margin-right: 10px;
    height: 48px;
    width: auto;
}
box-shadow: none;
}
.boat_content{
    position: absolute;
    bottom: 140px;
    z-index: 2;
    .blue_button{
        grid-column: 2/span 5;
    }
    h5{
        grid-column: 2/span 5;
    color:white;
    margin-bottom: 16px;
    }
    h2{
        grid-row-start: 2;
    grid-column: 2/span 5;
    color:white;
    margin-bottom: 32px;
    }
}
.section-1{
    margin-bottom: 180px;
    margin-top: 180px;
    align-items: center;
}
.section-2{
    margin-bottom: 276px;
}
.section-4{
    margin-bottom: 552px;
}

.inverted{
    background: rgba(255, 255, 255, 0.85);
    color: #000000;
    backdrop-filter: blur(85px);
    .han-burger, .han-burger::after,.han-burger::before {
        background-color: black;
    }
}


@media only screen and (max-width: 1440px) {
    
    .slider-coments{
        left:10%
    }
    .slike-spread{
        width: 84%;
    }
}
@media only screen and (max-width: 950px) {
    .slid-img-wraper{
        margin-top: -270px;
    }
    .slider{
        margin-top: 500px;
    }
    .contact-us-img_content-spread{
        img{ height: 38px;
            width: 41px;}
       
        margin-right:40px;
        margin-top: -60px;
      }
    .naslov-slider{
        margin-top: 0;
        
    }
    .section-1{
margin-bottom: 72px;
    }
    .mobile_none{
        display: none;
    }
    .right-side,.left-side, .naslov{
    
        grid-column: 3/span 8;
    }
    .left-side{
        margin-bottom: 0;
    }.section-3{
        min-height: 0;
        margin-top: 224px +128px+280px;
    }
    .boatnaslov_content{
        h2{
        grid-column: span 12;
        
        }
    }
    .left-side-img{
        grid-column: 3/span 8;
        margin-bottom: 64px;
    }
    .gradovi{
    .maxw{
        margin-bottom: 65px;
        
    }}
   
    .slider{
        left: 10%;
    }
    .left-img-center{
    
        position: relative;
            right: auto;
            top:auto;
            order:1 ;
            grid-column: 3/span 8;
            height: auto;
            width: auto;
            margin-bottom: 64px;
            left:auto;
        
    }
    .slider{
        margin-bottom: 240px;
    }
    .naslov{
        h5{
            margin-top: 64px;
        }
    }
    .two{
        order: 2;
        h5{
            margin-top: 0;
        }
    }
    .boat_content {
        bottom: 64px;
        h2 {
        grid-column: span 12;
    }
    h5{
        grid-column: span 12;
    }
    .blue_button{
        grid-column: span 12;
    }
      }
      .boat-holder{
        padding-top: 100%;
      }
      .boatnaslov-holder{
        
        padding-top: 100%;
    
    }
    .naslov-t{
        margin-top: 180px;
    }
    .slid-img-wraper{
        margin-top: -140px;
    }
}
@media only screen and (max-width: 650px) {
.wide-img{
    margin-right: 20px;
    }
    .HOLDER{
        width: 300px !important;
    }
    .boatnaslov-holder{
        
        padding-top: 218%;
    
    }
    .slider{
        margin-top: 550px;
    }
    .left-side{
        margin-bottom: 0;
    }
    .container{
        padding-left: 24px;
        padding-right: 24px;
    }
    .slike-spread{
        width: 120%;
        overflow: hidden;
        justify-content: center;
    }
    
    .slider{
        column-gap: 20px;
        height: 460px;
        margin-top: 464px;
        left:24px;
        margin-top: 435px+64px;
    }
    .slider-coments{
        height:298px;
        column-gap: 20px;
    }
    .section-3 {
        margin-top: 187px+128px;
      }
    .section-2{
margin-bottom: 120px;
    }
    .section-3{
        margin-top: 306px+128px;
    }
    .boat-holder{
        padding-top: 217%;
      }
    .center-img{
        
    margin-right: 20px;
    }
    .right-side,.left-side, .left-img-center, .naslov,.naslov-t{
    
        grid-column: span 12;
    }
    .left-side-img{
        grid-column: span 12;
    }
    .slider-coment-content{
        min-width: 298px;
        p{
        padding-left: 24px;
        padding-right: 24px;
        }
    }
    .slider-coments{
        left:24px;
    }
    .naslov{
        margin-left: 0;
    }
    .boatnaslov_content  {
        .blue_button{
        grid-column: span 12;}
      }
}
@media only screen and (max-width: 450px) {

   
    
    
.slike-spread{
    width: 170%;
}
.center-img-holder{
    padding-top: 134.5%;
}
.wide-img-holder{
    padding-top: 97%;
}
.skiny-img-holder{
    padding-top: 145%;
}
.wide-img{
    margin-top: 90px;
}
.skiny-img{
    margin-top: 100px;
}
.section-1{
    margin-top: 128px;
}
.right-side{
    .blue_button{
        margin-bottom: 56px;
    }
    div{
        column-gap: 20px;
        margin-bottom: 48px;
    }
    h2{
        margin-bottom: 48px;
    }
}
.section-4{
    margin-bottom: 302px+128px;
}
.naslov-t{
    margin-top: 128px;
}
.section-3{
    padding-left: 0;
    padding-right: 0;
    h5, h2, p{
        padding-left: 24px;
    padding-right: 24px;
    }
    .blue_button{
        margin-left: 24px;
    }
}
}